# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Output Images
output/*.jpg
output/*.png

# Jupyter
.ipynb_checkpoints
